[submodule "LimitsMicroservice"]
	path = LimitsMicroservice
	url = https://github.com/hagar110/LimitsMicroservice
[submodule "currencyExchangeService"]
	path = currencyExchangeService
	url = https://github.com/hagar110/currencyExchangeService
[submodule "CurrencyConverterMicroservice"]
	path = CurrencyConverterMicroservice
	url = https://github.com/hagar110/CurrencyConverterMicroservice
[submodule "Eureka-naming-server"]
	path = Eureka-naming-server
	url = https://github.com/hagar110/Eureka-naming-server
